#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
}

.FooterContainer{
    background-color: #3495CA;
    height: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.FooterContainer h4{
    width: 33%;
    font-weight: lighter;
    align-self: center;
    margin-left: var(--small-spacing);
}

.Contact{
    justify-content: center;
    width: 33%;
    align-self: center;
    text-align: center;
}

.tell{
    display: flex;
    justify-content: center;
}

.FooterContainer img, .FooterContainer a{
    align-self: center;
    height: 50px;
  }
  
.Aviso{
    margin-top: 20px;
    text-align: center;
    color: #808080;
}
  
.Aviso a{
    color:#3495CA;
}

@media (max-width: 425px) {
    .FooterContainer{
        display: block;
    }

    .FooterContainer h4{
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .Contact{
        width: 100%;
        text-align: center;
    }

    .Contact h5{
        font-size: 1em;        
    }

    .Contact h3{
        font-size: 1em;
    }

    .FooterContainer img{
        height: 40px;
    }
}

@media (min-width: 426px) and (max-width: 768px){

    .FooterContainer h4{
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .Contact{
        width: 100%;
        text-align: center;
    }

    .Contact h5{
        font-size: 1em;        
    }

    .Contact h3{
        font-size: 1em;
    }

    .FooterContainer img{
        height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
}

@media only screen and (min-width: 1024px){
}

@media only screen and (min-width: 1440px){
}