.App {
  background-color: #ffffff;
}

.NavContainer{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavTags{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: flex; 
}

.NavTags li{ 
  border-right: 2px solid #009FE2;
}

.NavTags a{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.NavTags a:hover {
  color: #009FE2;
}

.logoContainer{
  margin-left: 2em;
}

.IconTags{
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: flex; 
}