.App {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}

.PageWrap{
  padding-bottom: 2rem;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.NavContainer{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.NavTags{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: flex;
}

.NavTags li a{
  text-decoration: none;
  display: flex;
  color: rgb(26, 26, 26);
  padding: 1em;
  font-size: 1.2em;
  height: 100%;
}

.activeTag{
  color: #3495CA;
  border-bottom: solid 2px #3495CA;
  font-weight: 500;
}

.NavTags li a:hover {
  color: #3495CA;
  font-weight: 500;
  border-bottom: solid 2px #3495CA;
}

.logoContainer{
  margin-left: 2em;
}

.IconTags{
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: flex; 
}

.LoginContainer{
  display: flex;
}

.form-login {
	font-family: Verdana;
  width: 300px;
  height: 350px;
	background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 0px;
  margin: auto;
  box-shadow: 0px 0px 27px #03030336;
}

.LoginTitle{
  background-color: #3495CA;
  border-radius: 20px 20px 0px 0px;
  height: 20%;
  color: #ffffff;
  
}

.LoginTitle h4{
  font-family: Arial;
  font-weight: bold;
  margin: 3%;
}

.form-login div label{
	width: 100px;
}

.form-login div{
	padding: 3px;
}

.form-login label{
	padding: 3px;
  text-align: center;
  font-size: 11px;
}

.form-login input{
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
  border: 0px;
  margin: auto;
  width: 90%;
  background-color: rgba(211, 211, 211, 0.144);
  border-radius: 5px;
  height: 50px;
}

.form-login input:focus{
  border: 0px; 
}

.inputDiv{
  margin-top: 15%;
}

#submit-button {
  margin-top: 2%;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  background-color: #3495CA;
  color: #ffffff;
  width: 50%;
  height: 30px;
}

#invalid-user, #invalid-domain {
  font-size: smaller;
	display:none;
	color: red
}

#change-div a label{
	width: 100%;
	margin-bottom: 1px;
}

#resetUserAndPass:link, #resetUserAndPass:visited {
    color: rgb(43, 43, 43);
    text-decoration: none;
}

#resetUserAndPass:hover {
    color: #3495CA;
    cursor: pointer;
		text-decoration: underline;
}

.carouselContainer{
  margin-top: 0%
}

.FooterContainer{
  background-color: #3495CA;
  height: 250%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.FooterContainer h4{
  width: 33%;
  font-weight: lighter;
  align-self: center;
}

.FooterContainer img, .FooterContainer a{
  align-self: center;
}

.Aviso{
  margin-top: 20px;
  text-align: center;
  color: #808080;
}

.Aviso a{
  color:#3495CA;
}

.Contact{
  justify-content: center;
  width: 33%px;
  display: flex;
  align-self: center;
}

.cardContainer{
  height: 12%;
  width: 20%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 27px #03030336;
  border-bottom:solid #3495CA 10px;
}

.imgCard{
  width: 100%;
  height: 10%;
}

.infoContainer{
  display: flex;
  justify-content: space-between;
}

.text h2{
  margin-top: 5px;
}

.text{
  padding-left: 10px;
}

.cardContainer .text a{
  float: right;
}

.price{
  display: flex;
}

.price h6{
  align-self: center 
}

.price h1{
  padding-left: 5px;
  color: #3495CA;
  align-self: flex-start;
}

.mas{
  align-self: center;
}

.cards{
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-around;
}

.aboutUs{
  display: flex;
}

.illustrationAbout{
  margin: 6.2%;
}

.aboutUsText{
  margin-top: 6.2%;
  margin-right: 12.4%;
}

.aboutUsText h1{
  font-size: 300%;
  color: #3495CA;
}

.aboutUsText p{
  font-size: 120%;
  margin-top: 2%;
  text-align: justify;
}