@import "./css/colors.css";
@import "./css/shadows.css";
@import "./css/sizing.css";
@import "./css/spacing.css";

.App {
  background-color: var(--white);
  min-height: 89%;
  width: 100%;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

.PageWrap{
  padding-bottom: 2.5rem;
}